*~
ocaml-lib/_build
src/_build
lem
src/share_directory.ml
src/main.native
src/version.ml
examples/ppcmem-model/generated/*
coq-lib/lem_*.v
hol-lib/lemTheory.sml
hol-lib/lem_*.sml
hol-lib/lem*.sig
hol-lib/lem*.ui
hol-lib/lem*.uo
hol-lib/lem*.dat
hol-lib/lemheap
hol-lib/.hollogs
hol-lib/.HOLMK
html-lib/*.html
isabelle-lib/Lem_*.thy
library/ocaml-build-dir*
ocaml-lib/lem_*.ml
ocaml-lib/_build_num
ocaml-lib/_build_zarith
tex-lib/lem-libs*.tex


